/*body {
    background: black;
}*/

.hide{
    display: none;
}

.car{
    width: 50px;
    height:100px;
    /*background:red*/
    background: transparent url('./image/GermanCar.svg') center / cover no-repeat;
}